.image-carousel {
    object-fit: cover;
    object-position: 0 70%;
    height: 500px;
}

.font-title {
    font-family: 'Pacifico', cursive;
}

.color-darkred {
    color: darkred!important;
}

.card-sizing {
    max-width: 18rem;
}

.card-button {
    background-color: darkred;
    color: white;
}

.card-image-pos {
    object-fit: cover;
    height: 200px;
}

.border-darkred {
    border-color: darkred;
}