* {
    margin: 0;
    padding: 0;
}

header {
    height: 800px;
    position: relative;
}

.container {
    position: absolute;
    height: 800px;
    width: 50%;
    background: #F9F9F9;
}

.parallax {
    background-image: url('../assets/background.jpg');
    height: 800px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 80%;
    right: 0;
    clip-path: polygon(100% 0, 100% 800px, 30% 800px, 30% 0);
}

nav {
    position: absolute;
    right: 80px;
    top: 50px;
    z-index: 1;
}

.nav-item {
    display: inline-block;
    color: #FFF;
    margin-left: 20px;
    font-size: 20px;
    border: 1px solid rgb(150, 80, 1);
    padding: 6px 15px;
    border-radius: 3px;
}

.nav-item:hover {
    color: rgb(170, 100, 1);
    transform: scale(1.05);
    cursor: pointer;
}

.items-container {
    position: absolute;
    right: 80px;
    top: 200px;
    width: 700px;
    height: 500px;
    background: #FAFAFA;
    box-shadow: 1px 1px 1px rgb(150, 80, 1);
}

.items-container ol {
    position: absolute;
    top: 20px;
}

.items-container .item {
    width: 200px;
    height: 430px;
    top: 20px;
    background: #FFF;
    box-shadow: 0 0 3px #D3D3D3;
    display: inline-block;
    margin-left: 25px;
}

.item img {
    width: 200px;
}

.access-button {
    position: relative;
    display: inline-block;
    border: 1px solid  rgb(150, 80, 1);
    margin-top: 50px;
    margin-left: 10px;
    width: 180px;
    height: 35px;
    text-align: center;
    color: rgb(170, 100, 1);
    font-size: 18px;
    text-align:center;
}
