.container-absolute {
    text-align: center;
    height: 700px;
    width: 100%;
} 

.background {
    object-fit: cover;
    height: 700px;
    position: absolute;
    z-index: -1;
}

.navbar {
    position: absolute;
}

@media screen and (max-width: 600px) {
    .background {
        object-position: 25% 0;
    }
}

.main-title {
    display: inline-block;
    color: #F3F3F3;
    font-family: 'Shadows Into Light', cursive;
    font-size: 92px;
    margin: 350px 0 0 0;
}

.main-title:after {
    content: "|";
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
    color: #D3D3D3;
    opacity: 1;
    animation: flash .9s infinite;
}

@keyframes flash{
   0%, 100%{
       opacity: 1;
   }
   50%{
       opacity: 0;
   }
}

.nav-item {
    border: 1px solid #583103;
    border-radius: 3px;
    margin: 20px 0.8em 0;
}

.nav-link {
    color: #FEFEFE!important;
    font-family: 'Assistant', sans-serif;
} 

